.header {
    background: rgba(14,14,14,0.3);
    position: sticky;
    position: -webkit-sticky;
    height: 10vh;
    top: 0;
    left:0;
    width: 100%;
    padding: var(--spaceL);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-link {
        text-align: center;
        color: var(--colorWhite);
        text-decoration: none;
        font-size: 18px;
        padding: var(--spaceS) var(--spaceM);
        border-radius: var(--borderRadiusLarge);
        &:hover {
            color: var(--colorSecondaryVeryLight);
        }
        &.cta {
            border: 2.5px solid var(--colorSecondary);
            padding: var(--spaceS) var(--spaceL);
            &:hover {
                color: var(--colorWhite);
                background-color: var(--colorSecondary);
            }
        }
    }
}