:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #2d00df;
    --colorPrimaryLight: #5432df;
    --colorPrimaryVeryLight: #b09dff;
    
    /* Secondary color */
    --colorSecondary:#df0038;
    --colorSecondaryLight: #f03d7e;
    --colorSecondaryVeryLight: #ffa2c4;
}