:root {
    /* Shades of black and white */
    --colorMainBlack: #292929;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #0e72ca;
    --colorPrimaryLight: #54acfa;
    --colorPrimaryVeryLight: #d2eaff;
    
    /* Secondary color */
    --colorSecondary:#09b889;
    --colorSecondaryLight: #5bf7cd;
    --colorSecondaryVeryLight: #292929;
}