.quiz-page {
    flex:1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: linear-gradient(rgba(rgb(46, 46, 132), 0.4), rgba(rgb(6, 6, 128), 0.2));
    padding: var(--marginsLayout);
    h2 {
        text-align: center;
        font-size: 36px;
    }
    .question {
            padding: var(--spaceL);
    }
    .responses-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: var(--gridGap);
        .response {
            word-break: break-word;
            border:none;
            cursor: pointer;
            outline: none;
            color: var(--colorMainBlack);
            padding: 40px;
            border-radius: var(--borderRadiusSmall);
            background-color: var(--colorPrimaryVeryLight);
            &:hover {
                background-color: #f9faff;
            }
        }
    }
}