@import 'helpers/colors.scss';
@import 'helpers/medias.scss';
@import 'helpers/misc.scss';
@import 'helpers/spaces.scss';

@import 'components/loader-spinner.scss';

.App {
    background-color: var(--colorBlueVeryLight);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--colorMainBlack);
}
